.lines {
  display: flex;
  gap: 6px;
  justify-content: center;

  .box {
    height: 50px;
    width: 55px;
    border: 1.5px solid black;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
  }
}
