.lines {
  display: flex;
  gap: 6px;
  justify-content: center;

  .grey {
    background-color: #d9d9d9;
  }

  .orange {
    background-color: #ffbd59;
  }

  .green {
    background-color: #c1ff72;
  }

  .box {
    height: 40px;
    width: 45px;
    border: 1.5px solid black;
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Poppins";
    font-weight: 600;
  }
}
