.welcome {
  height: 100dvh;
  width: 100dvw;
  background-color: #ffd6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: transform 1s ease-out, opacity 1s ease-out;

  h1 {
    font-family: 'TAN Nimbus';
    letter-spacing: 2px;
    color: #ff5757;
    font-size: 50px;
    text-shadow: 1px 2px #fea2a2;
  }

  &.fadeOut {
    transform: translateX(-100vw); // Déplace le composant vers la gauche
  }
}
