.lines {
  margin-top: 30px;

  .lastLine {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .line {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: #ff5757;
      height: 20px;
      width: 7px;
      border-radius: 9px;
      font-size: black;
      font-family: 'Poppins';
      text-transform: uppercase;
      font-weight: 300;
      box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    }
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ff5757;
    border-radius: 9px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    height: 20px;
    width: 30px;
  }
}
